@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import "../../../node_modules/bootstrap/scss/mixins";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/utilities";

@import "../../../node_modules/bootstrap/scss/_nav";

$header_size: 8vh;
$hero_h1: 2em;
:root {
  --color-primary: #0e8f13;
  --color-primary-dark: #107a14;
  --color-secondary: #3f22ab;
  --color-ternary: #f3e619;
  --color-white: #f6f6f9;
  --color-light: #dedee0;
  --color-medium: #79797a;
  --color-black: #0d0d0f;
}

body {
  background: var(--color-white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: "Open Sans", sans-serif;
}

.top_menu {
  li {
    display: inline-block;
  }
}
.landing_page {
  $header_size: 8vh;
  $hero_h1: 2em;
  $h2_size: 1.4em;
  $benefit_size:1em;
  /*      HEADER      */
  header {
    background: var(--color-black);
    justify-content: space-around;
    height: $header_size;

    #logo {
      font-weight: 600;
    }
    .logo-white {
      color: var(--color-white);
      padding: 0;
    }
    .logo-yellow {
      color: var(--color-primary);
      padding: 0;
    }
    a {
      text-decoration: none;
      color: var(--color-light);
    }
    a:hover {
      color: var(--color-primary);
    }
  }
  .page {
    //top: $header_size;
    //position: relative;
  }

  li {
    text-decoration: none;
  }

  #hero {
    width: 100vw;
    height: 65vh;
    background: var(--color-black);

    .benefit_description {
      background-color: rgba(0, 0, 0, 0.5);
      ul {
        padding: 5px;
      }
      li {
        padding: 3px;
        list-style: none;
        font-size:$benefit_size;
      }
    }

    #hero-img {
      width: 100%;
      height: 100%;
      background: url("img/bg.webp") no-repeat top right;
      background-size: cover;
      a {
        font-size: 1.25em;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 35px;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: $hero_h1;
    padding-top: 60px;
    color: var(--color-light);
  }

  .white {
    color: white;
  }

  #car-cards {
    .card {
      height: 40vh;
    }
    .car-card {
      min-width: 30%;
      text-align: center;
      background: white;
      border-radius: 3px;
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.1em;
    }

    .car-card-img {
      width: 100%;
      height: 60%;
      background-size: contain !important;
    }
  }

  #pricing-component {
    height: fit-content;
    background: var(--color-black);
    color: var(--color-light);

    padding: 0 50px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    margin: 20px;
    font-size: $h2_size;
    text-align: center;
  }
  .pricing-module {
    width: 50%;
    margin: 10px auto;
  }
  .btn-contacto {
    margin: 10px auto;
    font-size: 26px;
    font-family: "open sans", sans-serif;
    font-weight: 600;
    padding: 5px 50px 6px;
    background: var(--color-primary);
    color: var(--color-light);
    border: none;
    border-radius: 16px;
  }
  .btn-contacto:hover {
    background: var(--color-primary-dark);
    transition: 300ms;
  }

  option {
    line-height: 1.3em;
  }

  #show-price {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    display: block;
    color: var(--color-primary-dark);
    margin: 20px auto;
  }

  #testimonial-container {
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    row-gap: 10px;
    column-gap: 10px;
  }

  .testimonial {
    border-radius: 7px;
    background: var(--color-black);
    padding: 25px;
    margin-bottom: 30px;
  }

  .testimonial p {
    color: var(--color-light);
    font-size: 20px;
  }
  .testimonial h3,
  span {
    display: inline-block;
  }
  .testimonial span {
    color: var(--color-ternary);
  }
  .one {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .two {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .three {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .four {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .five {
    grid-column: 1/5;
    grid-row: 4/5;
  }

  #faq {
    max-width: 800px;
    margin: 155px auto;
    text-align: left;
    display: flex;
    flex-flow: column;
  }

  .accordion {
    display: block;

    background-color: var(--color-light);
    width: 100%;
    padding: 18px;
    margin: auto;
    text-align: left;

    font-size: 22px;
    color: var(--color-black);
    cursor: pointer;

    border: none;
    outline: none;
    transition: 0.7s;
  }

  .active,
  .accordion:hover {
    background-color: var(--color-medium);
  }

  .panel {
    display: none;
    overflow: hidden;
    background-color: white;
    padding: 10px 15px;
    li {
      list-style: none;
      margin-bottom: 10px;
    }
    ul {
      margin-top: 20px;
    }
  }
  .panel p {
    font-size: 20px;
  }

  footer {
    max-width: 100%;
    padding: 20px;
    height: fit-content;
    background: var(--color-medium);
  }
  footer p {
    width: fit-content;
    margin: auto;
    color: var(--color-light);
  }
}

@include media-breakpoint-up(lg) {
  $header_size: 5vh;
  $hero_h1: 5em;
  $h2_size: 1.8em;
  $benefit_size: 1.8em;
  .landing_page {
    header {
      height: $header_size;
    }

    #hero {
        h1 {
            font-size: $hero_h1;
            padding-top: 60px;
            line-height: 1.5em;
        }

        .benefit_description {

            ul {

            }
            li {
                font-size:$benefit_size;

            }
            }

    }

    h2{

        font-size: $h2_size;
    }

  }
}
/*

  .landing_page {
    $header_size: 8vh;
    $hero_h1: 4em;
    $hero_h2: 2em;

    header {
      height: $header_size;

      #logo {
        font-weight: 600;
      }
      header .logo-white {
        color: var(--color-white);
        padding: 0;
      }
      header .logo-yellow {
        color: var(--color-primary);
        padding: 0;
      }
    }
    .page {


    }

    #hero {
      width: 100vw;
      height: 70vh;
      background: var(--color-black);

      .benefit_description {

        li {
          padding: 3px;
          list-style: none;
          font-size: $hero_h2;
        }
      }

      #hero-img {
        width: 100%;
        height: 100%;
        background: url("img/bg.webp") no-repeat 50% 70%;
        background-size: cover;
      }
    }

    h1 {
      font-size: $hero_h1;
      padding-top: 60px;
      line-height: 1.5em;
    }
    #hero-img a {
      font-size: 1.25em;
      text-decoration: none;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 35px;
    }
  }
}

*/
